h1{
  text-align: center;
  font-family: 'Lobster', cursive;
}

.art{
  margin: auto;
}

td{
  height: 200px;
  padding: 100px;
  border: 6px solid white;
}

#one{
  background: #FFFB9E;
}

#two{
  background: #E07347;
}

#three{
  background: #2C2F7C;
}

#four{
  background: #C9E9FC;
}

#five{
  background: #FF2DF2;
}
